#top-bg {
  background: linear-gradient(#91BDFF, #C5F3FF);
  height: 50vh;
}

#bottom-bg {
  height: 50vh;
  background: linear-gradient(#7AECF9, #1DA3B5);
}

#bottom-bg.overlay {
  opacity: .3;
  z-index: 14;
  width: 100%;
  position: absolute;
  margin-top: 50vh;
  pointer-events: none;
}

.wave1 {
  height: 30px;
  width: 100%;
  z-index: 12;
  margin-top: -20px;
}

.wave1 {
  -webkit-animation: wave-animation1 8.7s infinite linear; /* Safari 4+ */
  -moz-animation:    wave-animation1 8.7s infinite linear; /* Fx 5+ */
  -o-animation:      wave-animation1 8.7s infinite linear; /* Opera 12+ */
  animation:         wave-animation1 8.7s infinite linear; /* IE 10+ */
}

@-webkit-keyframes wave-animation1 {
  0%   { background-position: 0 0; }
  100% { background-position: 1601px 0; }
}
@-moz-keyframes wave-animation1 {
  0%   { background-position: 0 0; }
  100% { background-position: 1601px 0; }
}
@-o-keyframes wave-animation1 {
  0%   { background-position: 0 0; }
  100% { background-position: 1601px 0; }
}
@keyframes wave-animation1 {
  0%   { background-position: 0 0; }
  100% {background-position: 1601px 0;}
}

.wave1 {
  background: url('../../assets/wave1.png') 0 0 repeat-x;
  margin-top: calc(50vh - 30px);
  position: absolute;
}

.wave1.overlay {
  z-index: 14;
  opacity: .3;
  pointer-events: none;
}

.contenedor-flex {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#contenedor-logo {
  width: 100%;
  max-width: 1024px;
  margin-top: calc(50vh - 5.6em);
  font-family: 'RedHatDisplay', sans-serif;
  z-index: 13;
}

#contenedor-logo h1 {
  font-size: 6em;
  font-weight: bold;
  margin-left: 16px;
}

#contenedor-logo p {
  font-size: 1.5em;
  margin-top: 16px;
  margin-left: 16px;
}

#contenedor-logo button {
  color: white;
  background: #1D77FF;
  border: none;
  padding: 16px 32px;
  text-transform: uppercase;
  font-family: 'RedHatDisplay' sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  border-radius: 8px;
  margin-left: 16px;
  margin-top: 24px;
  cursor: pointer;
  outline: none;
  letter-spacing: .15rem;
  transition: background-color .25s ease-in-out;
}

#contenedor-logo button:hover {
  background: #0054D2;
}